body {

    font-size: 18px;
    color: rgb(19, 19, 158);
    margin: auto;
    background-color: bisque;
}
.heading {
    
    color: grey;
    text-align: center;
}

nav {

    color: rgb(31, 2, 2);
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}

.point {
    
    padding: 10px;
   }
    

.point1 {

    margin-left: 15px;
}

.point2 {

    text-align: center;
}

#point0 {
    
    text-align:justify;
    font-size: larger;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}